<%= button_to "Eliminar esta consulta", @medical_history, method: :delete, data: { confirm: "Are you sure?" }, class: "my-3 btn btn-danger" %>

<h1>Editar consulta médica</h1>

<%= render "form", medical_history: @medical_history %>

